In [54]:
import pandas as pd
data =pd.read_csv("EMP.csv")
print(data.head(10))

  First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0    Douglas    Male  08-06-1993        12:42 PM   97308    6.945
1     Thomas    Male   3/31/1996         6:53 AM   61933    4.170
2      Maria  Female   4/23/1993        11:17 AM  130590   11.858
3      Jerry    Male  03-04-2005         1:00 PM  138705    9.340
4      Larry    Male   1/24/1998         4:47 PM  101004    1.389
5     Dennis    Male   4/18/1987         1:35 AM  115163   10.125
6       Ruby  Female   8/17/1987         4:20 PM   65476   10.012
7        NaN  Female   7/20/2015        10:43 AM   45906   11.598
8     Angela  Female  11/22/2005         6:29 AM   95570   18.523
9    Frances  Female  08-08-2002         6:51 AM  139852    7.524

  Senior Management                  Team       Country  Age
0              True             Marketing         India   24
1              True                   NaN      Pakistan   19
2             False               Finance         china   23
3              True               Finance            us   19
4              True       Client Services       america   19
5             False                 Legal    westindies   23
6              True               Product       england   15
7               NaN               Finance  south africa   23
8              True           Engineering        brazil   22
9              True  Business Development  united state   21

In [51]:
grp = data.groupby(["Team","Gender"]).agg({"First Name":"count"})
print(grp)

                             First Name
Team                 Gender
Business Development Female          49
                     Male            39
Client Services      Female          47
                     Male            38
Distribution         Female          31
                     Male            29
Engineering          Female          43
                     Male            36
Finance              Female          42
                     Male            38
Human Resources      Female          33
                     Male            43
Legal                Female          33
                     Male            34
Marketing            Female          36
                     Male            38
Product              Female          44
                     Male            39
Sales                Female          35
                     Male            37

In [57]:
grp1 = data.groupby("Country").agg({"Age":"mean"})
print(grp1)

                Age
Country
India         19.28
Pakistan      20.04
america       19.69
brazil        20.54
china         20.23
england       20.20
south africa  19.49
united state  20.19
us            19.66
westindies    19.66

In [69]:
data["Country"]=data["Country"].str.upper()
print(data.head(10))

  First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0    Douglas    Male  08-06-1993        12:42 PM   97308    6.945
1     Thomas    Male   3/31/1996         6:53 AM   61933    4.170
2      Maria  Female   4/23/1993        11:17 AM  130590   11.858
3      Jerry    Male  03-04-2005         1:00 PM  138705    9.340
4      Larry    Male   1/24/1998         4:47 PM  101004    1.389
5     Dennis    Male   4/18/1987         1:35 AM  115163   10.125
6       Ruby  Female   8/17/1987         4:20 PM   65476   10.012
7        NaN  Female   7/20/2015        10:43 AM   45906   11.598
8     Angela  Female  11/22/2005         6:29 AM   95570   18.523
9    Frances  Female  08-08-2002         6:51 AM  139852    7.524

  Senior Management                  Team       Country  Age
0              True             Marketing         INDIA   24
1              True                   NaN      PAKISTAN   19
2             False               Finance         CHINA   23
3              True               Finance            US   19
4              True       Client Services       AMERICA   19
5             False                 Legal    WESTINDIES   23
6              True               Product       ENGLAND   15
7               NaN               Finance  SOUTH AFRICA   23
8              True           Engineering        BRAZIL   22
9              True  Business Development  UNITED STATE   21

In [86]:
grp1 = data.groupby(["Country","Gender"]).agg({"Salary":"max","Age":"max"})
print(grp1)

                     Salary  Age
Country      Gender
AMERICA      Female  149908   25
             Male    142561   25
BRAZIL       Female  149684   25
             Male    148225   25
CHINA        Female  147663   25
             Male    146812   25
ENGLAND      Female  149654   25
             Male    146589   25
INDIA        Female  149563   25
             Male    148941   25
PAKISTAN     Female  147635   25
             Male    148985   25
SOUTH AFRICA Female  147183   25
             Male    142208   25
UNITED STATE Female  149903   25
             Male    144701   25
US           Female  149105   25
             Male    148115   25
WESTINDIES   Female  142415   25
             Male    146651   25

In [85]:
grp2 = data.groupby(["Country","Gender"]).agg({"Salary":"min","Age":"min"})
print(grp2)

                     Salary  Age
Country      Gender
AMERICA      Female   37005   15
             Male     35802   15
BRAZIL       Female   36067   15
             Male     35061   15
CHINA        Female   37259   15
             Male     35095   15
ENGLAND      Female   35884   15
             Male     35013   15
INDIA        Female   35381   15
             Male     36837   15
PAKISTAN     Female   36643   15
             Male     42748   15
SOUTH AFRICA Female   36697   15
             Male     40451   15
UNITED STATE Female   36711   15
             Male     36749   15
US           Female   40119   15
             Male     35203   15
WESTINDIES   Female   42090   15
             Male     37076   15