In [190]:
import pandas as pd
data = pd.read_csv("C:/Users/91957/OneDrive/Desktop/Handling.csv")
print(data)

   Name of the Student Gender  Age   Salary
0          Ramuk Kumar      M   20  16890.0
1        Sunita Kumari      F   21      NaN
2            Raj Kumar      M   23  17068.0
3                Nira       F   24      NaN
4         Manish Kumar      M   23  22955.0
5          Kunal Kumar    NaN   20  24965.0
6          Guddu Kumar    NaN   21  18067.0
7         Mukesh Kumar      M   20  17234.0
8          Suraj Kumar    NaN   20  16637.0
9         Sachin Kumar      M   21  16163.0
10        Nidhi Kumari      F   23      NaN

In [196]:
print(data.isnull().sum())

Name of the Student    0
Gender                 3
Age                    0
Salary                 3
dtype: int64

In [210]:
print(data.dropna())
print()
print(data.head(10))

  Name of the Student Gender  Age   Salary
0         Ramuk Kumar      M   20  16890.0
2           Raj Kumar      M   23  17068.0
4        Manish Kumar      M   23  22955.0
7        Mukesh Kumar      M   20  17234.0
9        Sachin Kumar      M   21  16163.0

  Name of the Student Gender  Age   Salary
0         Ramuk Kumar      M   20  16890.0
1       Sunita Kumari      F   21      NaN
2           Raj Kumar      M   23  17068.0
3               Nira       F   24      NaN
4        Manish Kumar      M   23  22955.0
5         Kunal Kumar    NaN   20  24965.0
6         Guddu Kumar    NaN   21  18067.0
7        Mukesh Kumar      M   20  17234.0
8         Suraj Kumar    NaN   20  16637.0
9        Sachin Kumar      M   21  16163.0

In [173]:
print(data)

   Name of the Student Gender  Age   Salary
0          Ramuk Kumar      M   20  16890.0
1        Sunita Kumari      F   21      NaN
2            Raj Kumar      M   23  17068.0
3                Nira       F   24      NaN
4         Manish Kumar      M   23  22955.0
5          Kunal Kumar    NaN   20  24965.0
6          Guddu Kumar    NaN   21  18067.0
7         Mukesh Kumar      M   20  17234.0
8          Suraj Kumar    NaN   20  16637.0
9         Sachin Kumar      M   21  16163.0
10        Nidhi Kumari      F   23      NaN

In [211]:
import numpy as np
print(data.replace(np.nan,20334))

   Name of the Student Gender  Age   Salary
0          Ramuk Kumar      M   20  16890.0
1        Sunita Kumari      F   21  20334.0
2            Raj Kumar      M   23  17068.0
3                Nira       F   24  20334.0
4         Manish Kumar      M   23  22955.0
5          Kunal Kumar  20334   20  24965.0
6          Guddu Kumar  20334   21  18067.0
7         Mukesh Kumar      M   20  17234.0
8          Suraj Kumar  20334   20  16637.0
9         Sachin Kumar      M   21  16163.0
10        Nidhi Kumari      F   23  20334.0

In [216]:
data["Salary"] = data["Salary"].replace(np.nan,20334)
print(data)
print(data["Salary"].mean())

   Name of the Student Gender  Age   Salary
0          Ramuk Kumar      M   20  16890.0
1        Sunita Kumari      F   21  20334.0
2            Raj Kumar      M   23  17068.0
3                Nira       F   24  20334.0
4         Manish Kumar      M   23  22955.0
5          Kunal Kumar    NaN   20  24965.0
6          Guddu Kumar    NaN   21  18067.0
7         Mukesh Kumar      M   20  17234.0
8          Suraj Kumar    NaN   20  16637.0
9         Sachin Kumar      M   21  16163.0
10        Nidhi Kumari      F   23  20334.0
19180.090909090908

In [145]:
print(data["Salary"].mean())

20334.18181818182

In [230]:
print(data.fillna(method = "bfill"))

   Name of the Student Gender  Age   Salary
0          Ramuk Kumar      M   20  16890.0
1        Sunita Kumari      F   21  20334.0
2            Raj Kumar      M   23  17068.0
3                Nira       F   24  20334.0
4         Manish Kumar      M   23  22955.0
5          Kunal Kumar      M   20  24965.0
6          Guddu Kumar      M   21  18067.0
7         Mukesh Kumar      M   20  17234.0
8          Suraj Kumar      M   20  16637.0
9         Sachin Kumar      M   21  16163.0
10        Nidhi Kumari      F   23  20334.0

C:\Users\91957\AppData\Local\Temp\ipykernel_24480\2754045057.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method = "bfill"))

In [231]:
print(data.fillna(method = "ffill"))

   Name of the Student Gender  Age   Salary
0          Ramuk Kumar      M   20  16890.0
1        Sunita Kumari      F   21  20334.0
2            Raj Kumar      M   23  17068.0
3                Nira       F   24  20334.0
4         Manish Kumar      M   23  22955.0
5          Kunal Kumar      M   20  24965.0
6          Guddu Kumar      M   21  18067.0
7         Mukesh Kumar      M   20  17234.0
8          Suraj Kumar      M   20  16637.0
9         Sachin Kumar      M   21  16163.0
10        Nidhi Kumari      F   23  20334.0

C:\Users\91957\AppData\Local\Temp\ipykernel_24480\1391920301.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method = "ffill"))