In [201]:
import pandas as pd
data = pd.read_excel("Student.xlsx")
print(data)

  First Name Last Name  Salary             UID
0     mukesh     mahto   20000  23SUTCJHN04005
1      ramuk     kumar   30000  23SUTCJHN04006
2      guddu     yadav   45000  23SUTCJHN04007
3      nidhi    kumari   60000  23SUTCJHN04008

In [205]:
data["Bonus"] = (data["Salary"]/100)*20
print(data)

  First Name Last Name  Salary             UID    Bonus
0     mukesh     mahto   20000  23SUTCJHN04005   4000.0
1      ramuk     kumar   30000  23SUTCJHN04006   6000.0
2      guddu     yadav   45000  23SUTCJHN04007   9000.0
3      nidhi    kumari   60000  23SUTCJHN04008  12000.0

In [47]:
data = {"Months": ["January","February","March","April","May","June","July","August","September","October","November","December"]}
a = pd.DataFrame(data)
print(a)

       Months
0     January
1    February
2       March
3       April
4         May
5        June
6        July
7      August
8   September
9     October
10   November
11   December

In [53]:
def extract(value):
    return value[0:3]
a["Short_Months"] = a["Months"].map(extract)
print(a)

       Months Short_Months
0     January          Jan
1    February          Feb
2       March          Mar
3       April          Apr
4         May          May
5        June          Jun
6        July          Jul
7      August          Aug
8   September          Sep
9     October          Oct
10   November          Nov
11   December          Dec