In [2]:
import pandas as pd
data = pd.read_excel("C:/Users/91957/OneDrive/Desktop/Data2.xlsx")
print(data)

    Sl No.  EMP ID Name of the Student        f/name  Age  Salary
0        1   10001         Ramuk Kumar  Govind Mahto   20   20000
1        2   10002        Sachin Kumar           NaN   21   22774
2        3   10003           Raj Kumar           NaN   23   23887
3        4   10004        Mahesh Kumar           NaN   24   15177
4        5   10005        Ramesh Kumar           NaN   23   24425
5        6   10006        Mukesh Kumar           NaN   20   15000
6        7   10007         Guddu Kumar           NaN   21   23488
7        8   10008        Mukesh Kumar   Arjun Mahto   20   15000
8        9   10001         Ramuk Kumar           NaN   20   20000
9       10   10010        Sachin Kumar           NaN   21   21031
10      11   10008        Mukesh Kumar           NaN   23   15000

In [4]:
print(data["EMP ID"].duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10     True
Name: EMP ID, dtype: bool

In [6]:
print(data["EMP ID"].duplicated().sum())

2

In [8]:
print(data.drop_duplicates("EMP ID"))

   Sl No.  EMP ID Name of the Student        f/name  Age  Salary
0       1   10001         Ramuk Kumar  Govind Mahto   20   20000
1       2   10002        Sachin Kumar           NaN   21   22774
2       3   10003           Raj Kumar           NaN   23   23887
3       4   10004        Mahesh Kumar           NaN   24   15177
4       5   10005        Ramesh Kumar           NaN   23   24425
5       6   10006        Mukesh Kumar           NaN   20   15000
6       7   10007         Guddu Kumar           NaN   21   23488
7       8   10008        Mukesh Kumar   Arjun Mahto   20   15000
9      10   10010        Sachin Kumar           NaN   21   21031