In [90]:
import pandas as pd
data = pd.read_excel("C:/Users/91957/OneDrive/Desktop/Ramuk1.xlsx")
print(data)

     Name of the Student       f/name   Age   Salary
0            Ramuk Kumar  Arjun Mahto  20.0  24544.0
1           Sachin Kumar          NaN  21.0  20075.0
2              Raj Kumar          NaN  23.0  21448.0
3           Mahesh Kumar          NaN  24.0  18146.0
4           Ramesh Kumar          NaN  23.0  18225.0
...                  ...          ...   ...      ...
997          Ramuk Kumar          NaN  19.0  24988.0
998         Sachin Kumar          NaN  15.0  16250.0
999            Raj Kumar          NaN  20.0  16422.0
1000        Mahesh Kumar          NaN  21.0  18289.0
1001        Ramesh Kumar          NaN  18.0  19447.0

[1002 rows x 4 columns]

In [92]:
print(data.head(10))

  Name of the Student       f/name   Age   Salary
0         Ramuk Kumar  Arjun Mahto  20.0  24544.0
1        Sachin Kumar          NaN  21.0  20075.0
2           Raj Kumar          NaN  23.0  21448.0
3        Mahesh Kumar          NaN  24.0  18146.0
4        Ramesh Kumar          NaN  23.0  18225.0
5         Kunal Kumar          NaN  20.0  21702.0
6         Guddu Kumar          NaN  21.0  19236.0
7        Mukesh Kumar  Ramuk Kumar  20.0  15018.0
8         Ramuk Kumar          NaN  20.0  18945.0
9        Sachin Kumar          NaN  21.0  24946.0

In [94]:
print(data.tail(10))

     Name of the Student f/name   Age   Salary
992         Sachin Kumar    NaN  22.0  18537.0
993            Raj Kumar    NaN  18.0  22614.0
994         Mahesh Kumar    NaN  23.0  23172.0
995         Ramesh Kumar    NaN  24.0  17639.0
996          Kunal Kumar    NaN  18.0  24747.0
997          Ramuk Kumar    NaN  19.0  24988.0
998         Sachin Kumar    NaN  15.0  16250.0
999            Raj Kumar    NaN  20.0  16422.0
1000        Mahesh Kumar    NaN  21.0  18289.0
1001        Ramesh Kumar    NaN  18.0  19447.0

In [84]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name of the Student  999 non-null    object
 1   f/name               0 non-null      float64
 2   Age                  999 non-null    float64
 3   Salary               999 non-null    float64
dtypes: float64(3), object(1)
memory usage: 31.4+ KB
None

In [96]:
print(data.describe())

              Age        Salary
count  999.000000    999.000000
mean    20.108108  20011.164164
std      3.132723   2846.684004
min     15.000000  15002.000000
25%     17.000000  17588.000000
50%     20.000000  19997.000000
75%     23.000000  22403.500000
max     25.000000  24996.000000

In [86]:
print(data.isnull())

      Name of the Student  f/name    Age  Salary
0                   False    True  False   False
1                   False    True  False   False
2                   False    True  False   False
3                   False    True  False   False
4                   False    True  False   False
...                   ...     ...    ...     ...
997                 False    True  False   False
998                 False    True  False   False
999                 False    True  False   False
1000                False    True  False   False
1001                False    True  False   False

[1002 rows x 4 columns]

In [98]:
print(data.isnull().sum())

Name of the Student       3
f/name                 1000
Age                       3
Salary                    3
dtype: int64