In [190]:
import pandas as pd
data = pd.read_csv("C:/Users/91957/OneDrive/Desktop/Handling.csv")
print(data)

   Name of the Student Gender  Age   Salary
0          Ramuk Kumar      M   20  16890.0
1        Sunita Kumari      F   21      NaN
2            Raj Kumar      M   23  17068.0
3                Nira       F   24      NaN
4         Manish Kumar      M   23  22955.0
5          Kunal Kumar    NaN   20  24965.0
6          Guddu Kumar    NaN   21  18067.0
7         Mukesh Kumar      M   20  17234.0
8          Suraj Kumar    NaN   20  16637.0
9         Sachin Kumar      M   21  16163.0
10        Nidhi Kumari      F   23      NaN