In [7]:
import pandas as pd
data = pd.read_excel("C:/Users/91957/OneDrive/Desktop/Product.xlsx")
print(data)

   Name of Items  Qty   Rate    Amout    Tax  Total Amount  Discount  \
0            CPU   20   6000   120000   2400        122400    979.20
1            UPS   10   5000    50000   1000         51000      0.00
2        PRINTER   30  12000   360000   7200        367200   2937.60
3        MONITOR   50   5000   250000   5000        255000   2040.00
4       KEYBOARD   40    250    10000    200         10200     81.60
5          MOUSE   20    150     3000     60          3060      0.00
6         LAPTOP   60  36000  2160000  43200       2203200  17625.60
7            RAM   40   1500    60000   1200         61200    489.60
8            ROM   20   2000    40000    800         40800    326.40
9            SSD   10   3500    35000    700         35700      0.00
10           HDD   30   3000    90000   1800         91800      0.00
11     PEN-DRIVE   70    600    42000    840         42840    342.72
12  MOTHER-BOARD   80   3500   280000   5600        285600      0.00
13            IC   60    900    54000   1080         55080    440.64
14           LED   10  24000   240000   4800        244800      0.00

    Gross Total
0     121420.80
1      51000.00
2     364262.40
3     252960.00
4      10118.40
5       3060.00
6    2185574.40
7      60710.40
8      40473.60
9      35700.00
10     91800.00
11     42497.28
12    285600.00
13     54639.36
14    244800.00

In [23]:
data.loc[(data["Discount"]==0),["GetDiscount"]]="No Discount"
data.loc[(data["Discount"]>0),["GetDiscount"]]="Give Discount"
print(data.head(10))

  Name of Items  Qty   Rate    Amout    Tax  Total Amount  Discount  \
0           CPU   20   6000   120000   2400        122400     979.2
1           UPS   10   5000    50000   1000         51000       0.0
2       PRINTER   30  12000   360000   7200        367200    2937.6
3       MONITOR   50   5000   250000   5000        255000    2040.0
4      KEYBOARD   40    250    10000    200         10200      81.6
5         MOUSE   20    150     3000     60          3060       0.0
6        LAPTOP   60  36000  2160000  43200       2203200   17625.6
7           RAM   40   1500    60000   1200         61200     489.6
8           ROM   20   2000    40000    800         40800     326.4
9           SSD   10   3500    35000    700         35700       0.0

   Gross Total    GetDiscount
0     121420.8  Give Discount
1      51000.0    No Discount
2     364262.4  Give Discount
3     252960.0  Give Discount
4      10118.4  Give Discount
5       3060.0    No Discount
6    2185574.4  Give Discount
7      60710.4  Give Discount
8      40473.6  Give Discount
9      35700.0    No Discount

In [73]:
data = pd.read_excel("Student.xlsx")
print(data)

  First Name Last Name  Salary             UID
0     mukesh     mahto   20000  23SUTCJHN04005
1      ramuk     kumar   30000  23SUTCJHN04006
2      guddu     yadav   45000  23SUTCJHN04007
3      nidhi    kumari   60000  23SUTCJHN04008

In [81]:
data["Full Name"]=data["First Name"] .str.capitalize()+ " " +  data["Last Name"].str.capitalize()
print(data)

  First Name Last Name  Salary             UID     Full Name
0     mukesh     mahto   20000  23SUTCJHN04005  Mukesh Mahto
1      ramuk     kumar   30000  23SUTCJHN04006   Ramuk Kumar
2      guddu     yadav   45000  23SUTCJHN04007   Guddu Yadav
3      nidhi    kumari   60000  23SUTCJHN04008  Nidhi Kumari