In [9]:
import pandas as pd
data1 = {"EMP ID":["E01","E02","E03","E04","E05","E06","E07","E08"],"Name of Employee":["Ramuk Kumar","Guddu Kumar","Mukesh Kumar",
        "Sachin Kumar","Rajesh Kumar","Bablu Kumar","Deepak Kumar","Arun Kumar"],"Age":[19,20,33,21,43,34,33,22]}

data2 ={"EMP ID":["E01","E02","E03","E04","E05","E06","E07","E08"],"Salary":[34000,54000,23000,55000,22000,21000,20000,80000]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print()
print(df2)

  EMP ID Name of Employee  Age
0    E01      Ramuk Kumar   19
1    E02      Guddu Kumar   20
2    E03     Mukesh Kumar   33
3    E04     Sachin Kumar   21
4    E05     Rajesh Kumar   43
5    E06      Bablu Kumar   34
6    E07     Deepak Kumar   33
7    E08       Arun Kumar   22

  EMP ID  Salary
0    E01   34000
1    E02   54000
2    E03   23000
3    E04   55000
4    E05   22000
5    E06   21000
6    E07   20000
7    E08   80000

In [11]:
print(pd.merge(df1,df2,on="EMP ID"))

  EMP ID Name of Employee  Age  Salary
0    E01      Ramuk Kumar   19   34000
1    E02      Guddu Kumar   20   54000
2    E03     Mukesh Kumar   33   23000
3    E04     Sachin Kumar   21   55000
4    E05     Rajesh Kumar   43   22000
5    E06      Bablu Kumar   34   21000
6    E07     Deepak Kumar   33   20000
7    E08       Arun Kumar   22   80000

In [21]:
data1 = {"EMP ID":["E01","E02","E03","E04","E05","E06"]
        ,"Name of Employee":["Ramuk Kumar","Guddu Kumar","Mukesh Kumar",
        "Sachin Kumar","Rajesh Kumar","Bablu Kumar"],"Age":[19,20,33,21,43,34]}

data2 = {"EMP ID":["E07","E08","E09","E10","E11","E12"]
        ,"Name of Employee":["Rahul Kumar","Jitu Kumar","Niraj Kumar",
        "Manish Kumar","Mahesh Kumar","Lakhan Kumar"],"Age":[20,45,12,25,27,29]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(pd.concat([df1,df2]))
# print(pd.concat([data1,data2]))

  EMP ID Name of Employee  Age
0    E01      Ramuk Kumar   19
1    E02      Guddu Kumar   20
2    E03     Mukesh Kumar   33
3    E04     Sachin Kumar   21
4    E05     Rajesh Kumar   43
5    E06      Bablu Kumar   34
0    E07      Rahul Kumar   20
1    E08       Jitu Kumar   45
2    E09      Niraj Kumar   12
3    E10     Manish Kumar   25
4    E11     Mahesh Kumar   27
5    E12     Lakhan Kumar   29