In [30]:
import pandas as pd
data = {"Name":["Ramuk Kumar","Guddu Kumar","Mukesh Kumar","Ariya Kumar"],"Age":[18,20,19,21],"Salary":[20000,30000,40000,50000]}
df = pd.DataFrame(data)
print(df)

           Name  Age  Salary
0   Ramuk Kumar   18   20000
1   Guddu Kumar   20   30000
2  Mukesh Kumar   19   40000
3   Ariya Kumar   21   50000

In [88]:
data = pd.read_csv("C:/Users/91957/OneDrive/Desktop/Ramuk.csv")
print(data)

  Name of the Student  Age     Salary
0         Ramuk Kumar   20  15,000.00
1        Sachin Kumar   21  20,000.00
2           Raj Kumar   23  30,000.00
3        Mahesh Kumar   24  15,000.00
4        Ramesh Kumar   23  16,000.00
5         Kunal Kumar   20  21,000.00
6         Guddu Kumar   21  60,000.00
7        Mukesh Kumar   20  80,000.00